.ContactSectionMain{
    margin-left: 7.5vw;
    margin-right: 7.5vw;
    max-width: 85vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(135deg, rgba(3, 91, 255, 0.455), rgba(0, 2, 10, 0.307));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f1ea40",endColorstr="#e44071",GradientType=1);
    backdrop-filter: blur( 9.5px );
    -webkit-backdrop-filter: blur( 9.5px );
    border-radius: 8px;
    margin-bottom: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
    font-family: 'Space Grotesk', sans-serif;
    color: #ffe600;
}
.heading{
    display: flex;
}
.heading > img {
    max-height: 70px;
    max-width: 70px;
    margin-right:10px ;
}
.heading > h1 {
    font-weight: 800;
    font-size: 4rem;
}
.socialLinkContainer{
    display: flex;
}
.socialBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(5,62,253);
    background: -moz-linear-gradient(274deg, rgba(5,62,253,0.5907679966517857) 5%, rgba(159,53,255,0.6103758397890406) 100%);
    background: -webkit-linear-gradient(274deg, rgba(5,62,253,0.5907679966517857) 5%, rgba(159,53,255,0.6103758397890406) 100%);
    background: linear-gradient(274deg, rgba(5,62,253,0.5907679966517857) 5%, rgba(159,53,255,0.6103758397890406) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#053efd",endColorstr="#9f35ff",GradientType=1);
    border-radius: 8px;
    margin: 20px;
    padding: 10px;
    width: 11.5vw;
}
.socialBox > img {
    max-width: 58px;
    max-height: 58px;
}
.socialBox > a {
    text-decoration: none;
    color: #ffe600;
    font-weight: 600;
    margin: 7px;
    font-size: 1.3rem;
    text-align: center;
}
.blogBox > a > img  {
    max-height: 20vw;
    max-width: 20vw;
    border-radius: 8px;
}
.blogBox {
    margin: 10px;
}
.blogBox > p {
    text-align: center;
    font-size: 1.3rem;
    margin-top: 2px;
}

@media only screen and (max-width: 450px) {
    .socialLinkContainer{
        flex-direction: column;
        align-items: center;
    }
    .socialBox {
        width: 60vw;
    }
    .socialBox > a{
        font-size: 0.7rem;
    }
    .h2{
        font-size: 1rem;
        text-align: center;
    }
    .blogBox > a > img{
        max-width: 60vw;
        max-height: 60vw;
    }  
    .heading > img {
        max-height: 37px;
        max-width: 37px;
        margin-right: 10px;
    }
    .heading > h1 {
        font-size: 1.6rem;
    }
}
@media only screen and (min-width: 451px) and (max-width: 1050px) {
    .socialBox {
        width: 20vw;
    }
    .socialBox > a{
        font-size: 0.8rem;
    }
    .blogBox > a > img{
        max-width: 40vw;
        max-height: 40vw;
    }  
    .heading > img {
        max-height: 37px;
        max-width: 37px;
        margin-right: 10px;
    }
    .heading > h1 {
        font-size: 2.2rem;
    }
}